{% extends "layout.html" %}

{% block body %}
    {% include 'nav.html' %}

    <div id="map" style="height: 80vh;"></div>

    <a onclick="smooth_scroll_to('info')"><div class="material-icons font-40 text-center" style="height: 20vh; width: 100vw;">expand_more</div></a>

    <section class="row pt-5" id="info">
        <div class="col-lg-6 container pt-3">
            <div class="card">
                <div class="card-body overflow-hidden" style="height: 614px;">
                    <h5 class="card-title sticky-top">Total Cases in Australia</h5>
                    <div id="total_au_cases"></div>
                    <div class="last_updated"></div>
                    <div id="casesChart" style="width: 100%; height: 100%; margin: 0 auto; padding: 0"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 container pt-3">
            <div class="card">
                <div class="card-body overflow-hidden" style="height: 614px;">
                    <h5 class="card-title">Total Tests conducted in Australia</h5>
                    <div id="total_au_tests"></div>
                    <div class="last_updated"></div>
                    <div id="testsChart"style="width: 100%; height: 100%;"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 container pt-3">
            <div class="card">
                <div class="card-body overflow-hidden" style="height: 614px;">
                    <h5 class="card-title">Total currently in Hospitals</h5>
                    <span id="total_au_hospitals"></span><span>(estimate)</span>
                    <div class="last_updated"></div>
                    <div id="hospitalsChart"style="width: 100%; height: 100%;"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 container pt-3">
            <div class="card">
                <div class="card-body overflow-scroll" style="height: 614px;">
                    <h5 class="card-title">Deaths</h5>
                    <div id="total_au_deaths"></div>
                    <div class="last_updated"></div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">State</th>
                                <th scope="col">Age - Location</th>
                                <!-- <th scope="col">Location</th> -->
                            </tr>
                        </thead>
                        <tbody id="latest_deaths">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6 container pt-3">
            <div class="card">
                <div class="card-body overflow-scroll bg-white" style="height: 614px;">
                    <h5 class="card-title">New South Wales Cases by Local Government Area</h5>
                    <div class="last_updated"></div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Latest Date</th>
                                <th scope="col">Location</th>
                                <th scope="col">Positive Cases</th>
                            </tr>
                        </thead>
                        <tbody id="nsw_cases_by_lga">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6 container pt-3">
            <div class="card">
                <div class="card-body overflow-scroll" style="height: 614px;">
                    <h5 class="card-title">Latest Positives in NSW</h5>
                    <div class="last_updated"></div>
                    <ul id="nsw_latest_cases" class="list-group list-group-flush"></ul>
                </div>
            </div>
        </div>

        <div class="col-lg-6 container pt-3">
            <div class="card">
                <div class="card-body overflow-scroll" style="height: 614px;">
                    <h5 class="card-title">Victoria Cases by Local Government Area</h5>
                    <div class="last_updated"></div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Latest Date</th>
                                <th scope="col">Location</th>
                                <th scope="col">Positive Cases</th>
                            </tr>
                        </thead>
                        <tbody id="vic_cases_by_lga">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6 container pt-3">
            <div class="card">
                <div class="card-body overflow-scroll" style="height: 614px;">
                    <h5 class="card-title">Western Australia Cases by Local Government Area</h5>
                    <div class="last_updated"></div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Latest Date</th>
                                <th scope="col">Location</th>
                                <th scope="col">Positive Cases</th>
                            </tr>
                        </thead>
                        <tbody id="wa_cases_by_lga">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6 container pt-3">
            <div class="card">
                <div class="card-body overflow-scroll" style="height: 614px;">
                    <h5 class="card-title">Queensland Cases by Hospital and Health Services</h5>
                    <div class="last_updated"></div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Latest Date</th>
                                <th scope="col">Location</th>
                                <th scope="col">Positive Cases</th>
                            </tr>
                        </thead>
                        <tbody id="qld_cases_by_lga">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6 container pt-3">
            <div class="card">
                <div class="card-body overflow-scroll" style="height: 614px;">
                    <h5 class="card-title">Disclaimer</h5>

                    <div class="container">
                        The data used has been generated using <a href="https://www.theguardian.com/au" target="blank">
                        The Guardian Australia</a>. The information provided will
                        be as real time as possible but is not garentee. The
                        data sources comes from Australia offical governments sites.
                        For more insights for each country
                        <div id="sources" class="list-group list-group-flush">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- If bother add new articles for Australia covid19 -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    function smooth_scroll_to(target) { document.getElementById(`${target}`).scrollIntoView({behavior: "smooth"}); }
    function parseJson(str) { return JSON.parse(str.replace(/&#34;/g, "\"")) }

    let au_json = parseJson('{{ au }}');

    let jsonSources = parseJson('{{ sources }}');
    let sources = document.getElementById('sources');
    for(i in jsonSources) {
        let a = document.createElement('a');
        a.classList.add('list-group-item', 'list-group-item-action')
        a.setAttribute('href', `${jsonSources[i]}`); a.setAttribute('target', '_blank');
        a.innerText = `${i}`;
        sources.appendChild(a);
    }

    function createTr(text) {
        let t = document.createElement('td'); t.innerText = `${text}`;
        return t;
    }

    let latest_deaths = document.getElementById('latest_deaths');
    let total_au_deaths = 0;
    let deathsJson = au_json.deaths;
    deathsJson.reverse().forEach(death => {
        let tr = document.createElement('tr');

        let dates = death.date.split('/');
        console.log(dates);
        let tdD = createTr(`${dates[0]}/${dates[1]}`);
        tr.appendChild(tdD);
        let tdS = createTr(death.state);
        tr.appendChild(tdS);
        let tdA = createTr(death.details);
        tr.appendChild(tdA);

        latest_deaths.append(tr);
        total_au_deaths += 1;
    });

    document.getElementById('total_au_deaths').innerText = `${total_au_deaths.toLocaleString('en')}`;

    let records = parseJson('{{ nsw_latest_cases }}').records;
    let group = document.getElementById('nsw_latest_cases');
    records.reverse().forEach(record => {
        let item = document.createElement('li');
        item.classList.add('list-group-item', 'text-capitalize');
        item.innerText = `${record.nsw_lga__3} | ${record.postcode} | ${record.notification_date.split('T')[0].trim()} | ${record.likely_source_of_infection.split('-')[0].trim()}`;
        group.appendChild(item);
    });

    var map = L.map('map', {
        'center': [-23.6980, 133.8807],
        'zoom': 5, 'minZoom': 5, 'maxZoom': 10,
        'layers': [
            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                'attribution': 'Map data &copy; OpenStreetMap contributors'
            })
        ]
    });

    var info = L.control({ position: "topright" });

    info.onAdd = function (map) {
        this._div = L.DomUtil.create('div', 'info');
        this.update();
        return this._div;
    };

    info.update = function (props) {
        if(props) {
            if (props.hasOwnProperty('nsw_lga__3')) {
                this._div.innerHTML =
                    '<h4> Info Panel </h4>' +
                    '<b>' + props.nsw_lga__3 + '</b><br />' +
                    (props.confirmed ? props.confirmed : "0") + ' confirmed cases';
            } else if (props.hasOwnProperty('wa_lga_s_3')) {
                this._div.innerHTML =
                    '<h4> Info Panel </h4>' +
                    '<b>' + props.wa_lga_s_3 + '</b><br />' +
                    (props.confirmed ? props.confirmed : "0") + ' confirmed cases';
            } else if (props.hasOwnProperty('qld_hhs__3')) {
                this._div.innerHTML =
                    '<h4> Info Panel </h4>' +
                    '<b>' + props.qld_hhs__3 + '</b><br />' +
                    (props.confirmed ? props.confirmed : "0") + ' confirmed cases';
            } else if (props.hasOwnProperty('vic_lga__3')) {
                this._div.innerHTML =
                    '<h4> Info Panel </h4>' +
                    '<b>' + props.vic_lga__3 + '</b><br />' +
                    (props.confirmed ? props.confirmed : "0") + ' confirmed cases';
            }
        } else {
            this._div.innerHTML = '<h4> Info Panel </h4>' + 'Hover over a country';
        }
    };

    info.addTo(map);

    function highlightPolygon(e) {
        var layer = e.target;

        layer.setStyle({
            weight: 2,
            color: '#666',
            dashArray: '',
            fillOpacity: 0.7
        });

        layer.bringToFront();
        info.update(layer.feature.properties);
    }

    var geojson;

    // Default
    function removeHighlight(e) { geojson.resetStyle(e.target); info.update(); }
    function zoomToFeature(e) { map.flyTo(e.target.getBounds().getCenter(), 10); info.update(e.target.feature.properties); }
    function onEachFeature(feature, layer) { layer.on({ mouseover: highlightPolygon, mouseout: removeHighlight, click: zoomToFeature }); }

    function style(feature) {
        return {
            fillColor: getColor(feature.properties.confirmed),
            weight: 2,
            opacity: 1,
            color: 'white',
            fillOpacity: 0.7
        };
    };

    function getColor(d) {
        return d > 500    ? '#b10026' :
               d > 250    ? '#e31a1c' :
               d > 150     ? '#fc4e2a' :
               d > 100     ? '#fd8d3c' :
               d > 50      ? '#feb24c' :
               d > 10      ? '#fed976' :
               d > 5       ? '#ffeda0' :
               d > 1       ? '#ffffcc' :
               d < 0        ? 'blue' :
                              '#ebedf0';
    }

    function generateTableCases(lga, json) {
        let tr = document.createElement('tr');

        dates = json.date.split('T')[0].split('-');
        let tdD = createTr(`${dates[2]}/${dates[1]}`);
        tr.appendChild(tdD);
        let tdN = createTr(lga);
        tdN.classList.add('text-capitalize');
        tr.appendChild(tdN);
        let tdP = createTr(json.count);
        tr.appendChild(tdP);

        return tr;
    }

    $.getJSON("{{ url_for('static', filename='wa.json') }}", function(data){
        let wa_json = parseJson('{{ wa }}');
        for(i in data['features']) {
            name = data['features'][i]['properties']['wa_lga_s_3'].toLowerCase();
            if(wa_json[name]) { data['features'][i]['properties']['confirmed'] = wa_json[name]['count']; }
        }

        let wa = document.getElementById('wa_cases_by_lga');
        for (lga in wa_json) { wa.appendChild(generateTableCases(lga, wa_json[lga])); }

        geojson = L.geoJson(data, {style: style, onEachFeature: onEachFeature}).addTo(map);
    });

    $.getJSON("{{ url_for('static', filename='nsw.json') }}", function(data){
        let nsw_json = parseJson('{{ nsw }}');
        for(i in data['features']) {
            name = data['features'][i]['properties']['nsw_lga__3'].toLowerCase();
            if(nsw_json[name]) { data['features'][i]['properties']['confirmed'] = nsw_json[name]['count']; }
        }

        let nsw = document.getElementById('nsw_cases_by_lga');
        for (lga in nsw_json) { nsw.appendChild(generateTableCases(lga, nsw_json[lga])); }

        geojson = L.geoJson(data, {style: style, onEachFeature: onEachFeature}).addTo(map);
    });

    $.getJSON("{{ url_for('static', filename='vic.json') }}", function(data){
        let vic_json = parseJson('{{ vic }}');
        for(i in data['features']) {
            name = data['features'][i]['properties']['vic_lga__3'].toLowerCase();
            if(vic_json[name]) { data['features'][i]['properties']['confirmed'] = vic_json[name]['count']; }
        }

        let vic = document.getElementById('vic_cases_by_lga');
        for (lga in vic_json) { vic.appendChild(generateTableCases(lga, vic_json[lga])); }

        geojson = L.geoJson(data, {style: style, onEachFeature: onEachFeature}).addTo(map);
    });

    $.getJSON("{{ url_for('static', filename='qld.json') }}", function(data){
        let qld_json = parseJson('{{ qld }}');
        for(i in data['features']) {
            name = data['features'][i]['properties']['qld_hhs__3'].toLowerCase();
            if(qld_json[name]) { data['features'][i]['properties']['confirmed'] = qld_json[name]['count']; }
        }

        let qld = document.getElementById('qld_cases_by_lga');
        for (lga in qld_json) { qld.appendChild(generateTableCases(lga, qld_json[lga])); }

        geojson = L.geoJson(data, {style: style, onEachFeature: onEachFeature}).addTo(map);
    });

    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        document.querySelectorAll('.last_updated').forEach((tag) => { tag.innerText = `Last updated: ${au_json.last_updated}`; });

        var casesData = new google.visualization.DataTable();
        casesData.addColumn('string', 'Country');
        casesData.addColumn('number', 'Cases');
        casesData.addColumn({ role: 'style' });

        var testsData = new google.visualization.DataTable();
        testsData.addColumn('string', 'Country');
        testsData.addColumn('number', 'Tests');
        testsData.addColumn({ role: 'style' });

        var hospitalsData = new google.visualization.DataTable();
        hospitalsData.addColumn('string', 'Country');
        hospitalsData.addColumn('number', 'Hospitalised');
        hospitalsData.addColumn({ role: 'style' });

        let colourMapper = {
            'NSW': '#3266cc',
            'VIC': '#dc3b30',
            'QLD': '#f19833',
            'SA': '#4d971c',
            'ACT': '#9b3998',
            'NT': '#3f9ac7',
            'TAS': '#dd4477',
            'WA': '#65aa03',
        }

        let total_au_cases = 0;
        let total_au_tests = 0;
        let total_au_hospitals = 0;
        let states = au_json.states;
        for (var i in states){
            casesData.addRow([i, states[i].cases, colourMapper[i]]);
            total_au_cases += states[i].cases;
            testsData.addRow([i, states[i].tests, colourMapper[i]]);
            total_au_tests += states[i].tests;
            hospitalsData.addRow([i, states[i].hospitalised, colourMapper[i]]);
            total_au_hospitals += states[i].hospitalised;
        }

        document.getElementById('total_au_cases').innerText = `${total_au_cases.toLocaleString('en')}`;
        document.getElementById('total_au_tests').innerText = `${total_au_tests.toLocaleString('en')}`;
        document.getElementById('total_au_hospitals').innerText = `${total_au_hospitals.toLocaleString('en')}`;

        let animation = { duration: 1000, easing: 'out', startup: true}
        let chartArea = {width: '75%', height: '70%'}
        let legend = { position: 'bottom' }
        var casesChartOptions = {
            pieSliceText: 'label',
            legend: legend,
            chartArea: chartArea,
            backgroundColor: { fill:'transparent' },
        };


        var testsChartOptions = {
            legend: legend,
            chartArea: chartArea,
            hAxis: { gridlines: { color: 'none' }, },
            animation: animation,
            tooltip: {isHtml: true}
        };

        var hospitalsChartOptions = {
            legend: legend,
            chartArea: chartArea,
            hAxis: { gridlines: { color: 'none' }, },
            animation: animation,
            tooltip: {isHtml: true}
        };

        var chart = new google.visualization.PieChart(document.getElementById('casesChart'));
        chart.draw(casesData, casesChartOptions);


        var chart = new google.visualization.ColumnChart(document.getElementById('testsChart'));
        chart.draw(testsData, testsChartOptions);

        var chart = new google.visualization.ColumnChart(document.getElementById('hospitalsChart'));
        chart.draw(hospitalsData, hospitalsChartOptions);
    }

    $(window).resize(function(){
        drawChart();
    });
</script>
{% endblock %}
