{% extends "layout.html" %}

{% block body %}
    <div class="row m-0 p-0">
        <div class="col-lg-4 p-0 overflow-scroll" style="height: 100vh;">
            <nav class="navbar navbar-color navbar-light sticky-top">
                <h1 class="navbar-brand mb-0 ml-5">API-demic</h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active" href="{{ url_for('home') }}"><span class="material-icons">home</span></a>
                            <a class="nav-item nav-link" href="{{ url_for('dashboard') }}">Live Dashboard</a>
                            <a class="nav-item nav-link" href="{{ url_for('latest_news') }}">News</a>
                            <a class="nav-item nav-link" href="{{ url_for('covid19') }}">Live Map</a>
                            <a class="nav-item nav-link" href="{{ url_for('info') }}">Data Centre</a>
                            <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
                            <a class="nav-item nav-link" href="{{ url_for('au') }}">For NSW</a>
                        </div>
                    </div>
                </div>
            </nav>

            <section class="page-header bg-header">
                <h2 class="header-content container text-bold" style="padding-left: 2.5em">Covid-19 Live HeatMap</h2>
            </section>

            <section class="container pb-5">
                <h4>Advice to prevent getting sick</h4>
                1. Wash your hands often <br>
                2. Practise social distancing <br>
                3. Avoid touching your faces and others <br>
                4. Wear mask to limit exposure when going outside <br>
                5. If you have sick, stay home and call your doctor <br>
                6. Be sure to follow your country's social gathering limit

                For more information to protect yourself
                <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" target="_blank">WHO, Advice for Public</a> <br>
                https://www.cdc.gov/coronavirus/2019-ncov/faq.html <br>
            </section>

            <section class="container">
                <div class="row text-center">
                    <div class="col-sm">
                        <div>Confirmed</div>
                        <h4 id="total-confirmed">0</h4>
                    </div>
                    <div class="col-sm">
                        <div>Deaths</div>
                        <h4 id="total-deaths">0</h4>
                    </div>
                    <div class="col-sm">
                        <div>Recovered</div>
                        <h4 id="total-recovered">0</h4>
                    </div>
                </div>

                <div class="container p-3">
                    <div class="row">
                        <div class="col text-center">
                            <button id="displayCases" type="button" class="btn btn-danger">Cases</button>
                            <button id="displayDeaths" type="button" class="btn btn-secondary">Deaths</button>
                        </div>
                    </div>
                </div>
            </section>

            <div id="accordion">
                <!-- <div class="card collapsible">
                    <div class="collapse-header" data-target="#collapseOne" data-toggle="collapse">
                        China
                        <span class="float-right">
                            89,120 <span class="material-icons">expand_more</span>
                        </span>
                    </div>

                    <div id="collapseOne" class="collapse" data-parent="#accordion">
                        <div class="card-body text-center">
                            <span>22,354 Confirmed | 235 Deaths | 56,457 Recovered</span>
                        </div>
                    </div>
                </div>

                <div class="card collapsible">
                    <div class="collapse-header" data-target="#collapseOne" data-toggle="collapse">
                        China
                        <span class="float-right">
                            89,120 <span class="material-icons">expand_more</span>
                        </span>
                    </div>

                    <div id="collapseOne" class="collapse" data-parent="#accordion">
                        <div class="card-body text-center">
                            <span>22,354 Confirmed | 235 Deaths | 56,457 Recovered</span>
                        </div>
                    </div>
                </div> -->
            </div>  <!-- accordion -->

        </div>
        <div class="col-lg-8 p-0">
            <div id="map"></div>
        </div>
    </div>

    <script src="{{url_for('static', filename='countries.js')}}"></script>
    <script type="text/javascript">
        let str = '{{ data }}';
        let res = str.replace(/&#34;/g, "\"");

        function createDiv(innerText) {
            let d = document.createElement('div');
            d.innerText = `${innerText}`;
            return d;
        }

        function createSpan(innerText) {
            let s = document.createElement('span');
            s.innerText = `${innerText}`;
            return s;
        }

        function createFlag(alpha_2) {
            let f = document.createElement('span');
            f.classList.add('flag-icon', `flag-icon-${alpha_2}`, 'pr-5');
            return f;
        }

        function createIcon(icon) {
            let i = createSpan(icon);
            i.classList.add('material-icons');
            return i;
        }

        let json = JSON.parse(res);
        // console.log(json , "sadad")
        let accordion = document.getElementById('accordion');
        let total = { 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, }
        for(i in json) {
            let country = json[i];
            total.Confirmed += country.Confirmed;
            total.Deaths += country.Deaths;
            total.Recovered += country.Recovered;

            let collapsible = document.createElement('div');
            collapsible.classList.add('card', 'collapsible');

            let clickable = document.createElement('div');
            clickable.classList.add('collapse-header', 'noselect');
            clickable.setAttribute('data-target', `#${country.Code}`);
            clickable.setAttribute('data-toggle', 'collapse');
            clickable.style.background = `${getColor(country.Confirmed)}`;

            let flag = createFlag(json[i]['Code'].toLowerCase());
            clickable.appendChild(flag);
            let name = createSpan(i);
            clickable.appendChild(name);
            let confirmed = createSpan(formatNumber(country.Confirmed));
            confirmed.classList.add('float-right');
            let expand = createIcon('expand_more')
            confirmed.appendChild(expand);
            clickable.appendChild(confirmed);

            collapsible.appendChild(clickable);

            let content = document.createElement('div');
            content.setAttribute('id', `${country.Code}`);
            content.classList.add('collapse');
            content.setAttribute('data-parent', '#accordion');

            let body = document.createElement('div');
            body.classList.add('card-body', 'text-center');
            body.innerText = `${formatNumber(country.Confirmed)} Confirmed | ${formatNumber(country.Deaths)} Deaths | ${formatNumber(country.Recovered)} Recovered`;

            content.appendChild(body);
            collapsible.appendChild(content);
            accordion.appendChild(collapsible);

            if(convertCountry(i)) {
                console.log(i);
                // convert key to fit GeoJson
                json[convertCountry(i)] = json[i];
                delete json[i];
            }
        }

        document.getElementById('total-confirmed').innerHTML = `${formatNumber(total['Confirmed'])}`;
        document.getElementById('total-deaths').innerHTML = `${formatNumber(total['Deaths'])}`;
        document.getElementById('total-recovered').innerHTML = `${formatNumber(total['Recovered'])}`;

        function convertCountry(d) {
            let dict = {
                "US": "United States of America",
                "Czechia" : "Czech Republic",
                "North Macedonia" : "Macedonia",
                "Timor-Leste" : "East Timor",
            }

            return dict[d];
        }

        // Init Map
        for(i in countriesData['features']) {
            name = countriesData['features'][i]['properties']['name']
            if(json[name]) {
                countriesData['features'][i]['properties']['deaths'] = json[name]['Deaths']
                countriesData['features'][i]['properties']['confirmed'] = json[name]['Confirmed']
            }
        }

        var map = L.map('map', {
            'center': [-9.5410977,106.0965923],
            'zoom': 3,
            'layers': [
                L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    'attribution': 'Map data &copy; OpenStreetMap contributors'
                })
            ]
        });

        // Legend
        var legend = L.control({ position: "bottomright" });

        legend.onAdd = function(map) {
            var div = L.DomUtil.create("div", "legend");

            div.innerHTML += '<i style="background: #b10026"></i><span>50,000+</span><br>';
            div.innerHTML += '<i style="background: #e31a1c"></i><span>10,000-50,000</span><br>';
            div.innerHTML += '<i style="background: #fc4e2a"></i><span>5,000-10,000</span><br>';
            div.innerHTML += '<i style="background: #fd8d3c"></i><span>1,000-5,000</span><br>';
            div.innerHTML += '<i style="background: #feb24c"></i><span>500-1,000</span><br>';
            div.innerHTML += '<i style="background: #fed976"></i><span>100-500</span><br>';
            div.innerHTML += '<i style="background: #ffeda0"></i><span>50-100</span><br>';
            div.innerHTML += '<i style="background: #ffffcc"></i><span>10-50</span><br>';
            div.innerHTML += '<i style="background: #ebedf0"></i><span>0-10</span><br>';

            return div;
        };

        legend.addTo(map);

        // InformationTab
        var info = L.control({ position: "topright" });

        info.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'info');
            this.update();
            return this._div;
        };

        info.update = function (props) {
            this._div.innerHTML =
                '<h4 class="text-center text-dark">Country Info</h4>' +
                    '<div>' +
                    (props ?
    			         '<div class="text-bold text-center">' + props.name + '</div>' +
                         (props.confirmed ? props.confirmed : "0 (Data may be invalid)") + ' confirmed cases' + '<br>' +
                         (props.deaths ? props.deaths : "0") + ' confirmed deaths'
    			         : '<span class="text-bold text-center">' + 'Hover over a country' + '</span>') + '</div>';
        };

        info.addTo(map);

        function highlightPolygon(e) {
            var layer = e.target;

            layer.setStyle({
            	weight: 2,
            	color: '#666',
            	dashArray: '',
            	fillOpacity: 0.7
            });

        	layer.bringToFront();

            info.update(layer.feature.properties);
        }

        var geojson;

        function removeHighlight(e) {
        	geojson.resetStyle(e.target);
        	info.update();
        }

        function zoomToFeature(e) {
            // console.log(e.target);
            console.log(e.target.getBounds());
            // console.log(e.target.getBounds().getCenter());
        	// map.fitBounds(e.target.getBounds().getCenter());
            map.flyTo(e.target.getBounds().getCenter(), 4);
            info.update(e.target.feature.properties);
        }

        function onEachFeature(feature, layer) {
        	layer.on({
        		mouseover: highlightPolygon,
        		mouseout: removeHighlight,
        		click: zoomToFeature
        	});
        }

        // Polygon GeoJSON
        function styleCases(feature) {
            return {
                fillColor: getColor(feature.properties.confirmed),
                weight: 2,
                opacity: 1,
                color: 'white',
                fillOpacity: 0.7
            };
        }

        function styleDeaths(feature) {
            return {
                fillColor: getColor(feature.properties.deaths),
                weight: 2,
                opacity: 1,
                color: 'white',
                fillOpacity: 0.7
            };
        }

        function getColor(d) {
            return d > 50000    ? '#b10026' :
                   d > 10000    ? '#e31a1c' :
                   d > 5000     ? '#fc4e2a' :
                   d > 1000     ? '#fd8d3c' :
                   d > 500      ? '#feb24c' :
                   d > 100      ? '#fed976' :
                   d > 50       ? '#ffeda0' :
                   d > 10       ? '#ffffcc' :
                   d < 0        ? 'blue' :
                                  '#ebedf0';
        }

        geojson = L.geoJson(countriesData, {style: styleCases, onEachFeature: onEachFeature}).addTo(map);

        $("#displayDeaths").click(function() {
            console.log($(this));
            $(this).addClass("btn-danger").removeClass('btn-secondary');
            $("#displayCases").addClass("btn-secondary").removeClass("btn-danger");

            geojson = L.geoJson(countriesData, {style: styleDeaths, onEachFeature: onEachFeature}).addTo(map);
        });

        $("#displayCases").click(function() {
            $(this).addClass("btn-danger").removeClass('btn-secondary');
            $("#displayDeaths").addClass("btn-secondary").removeClass("btn-danger");
            geojson = L.geoJson(countriesData, {style: styleCases, onEachFeature: onEachFeature}).addTo(map);
        });
    </script>
{% endblock %}
