{% extends "layout.html" %}

{% block body %}
    {% include 'nav.html' %}

    <section class="page-header bg-header">
        <h2 class="header-content container text-bold">Global and Country Statistic</h2>
    </section>

    <div style="width: 75%; margin: 0 auto; ">
        <input type="text" id="country" placeholder="Enter country" list="contry-list" value="Australia">
        <datalist id="contry-list"></datalist>
    </div>

    <div class="container">
        <section class="hr">
            <div class="row">
                <div class="col-md-6">
                    <div id="global-confirmed-chart" class="chart-small"></div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="row">
                        <div class="col-md-6 v-align">
                            As of Today, the world has
                            <div id="t-g-c" class="content-title font-40">0</div>
                            confirmed Cases
                        </div>
                        <div class="col-md-6 v-align">
                            gaining
                            <div id="c-g-c" class="content-title font-40">0</div>
                            confirmed in since yesterday
                        </div>
                    </div>
                </div>
            </div>  <!-- global confirmed -->

            <div class="row">
                <div class="col-md-6">
                    <div id="country-confirmed-chart" class="chart-small"></div>
                </div>
                <div class="col-md-6">
                    <div class="row text-center">
                        <div class="col-md-6 v-align">
                            compared to <span class="country-name">Australia</span> with
                            <div id="t-c-c" class="content-title font-40">0</div>
                            confirmed Cases
                        </div>
                        <div class="col-md-6 v-align">
                            gaining
                            <div id="c-c-c" class="content-title font-40">0</div>
                            confirmed in since yesterday
                        </div>
                    </div>
                </div>
            </div>  <!-- country confirmed -->
        </section>

        <section class="hr">
            <div class="row">
                <div class="col-md-6">
                    <div id="global-recovered-chart" class="chart-small"></div>
                </div>
                <div class="col-md-6">
                    <div class="row text-center">
                        <div class="col-md-4 v-align">
                            The world has a total of
                            <div id="t-g-r" class="content-title font-40">0</div>
                            recovered,
                        </div>
                        <div class="col-md-4 v-align">
                            with
                            <div id="c-g-r" class="content-title font-40">0</div>
                             recovered yesterday
                        </div>
                        <div class="col-md-4 v-align">
                            and a
                            <div id="g-rr" class="content-title font-40">0</div>
                            recovery rate
                        </div>
                    </div>
                </div>
            </div>  <!-- global recovered -->

            <div class="row">
                <div class="col-md-6">
                    <div id="country-recovered-chart" class="chart-small"></div>
                </div>
                <div class="col-md-6">
                    <div class="row text-center">
                        <div class="col-md-4 v-align">
                            <span class="country-name">Australia</span> has a total of
                            <div id="t-c-r" class="content-title font-40">0</div>
                            recovered,
                        </div>
                        <div class="col-md-4 v-align">
                            with
                            <div id="c-c-r" class="content-title font-40">0</div>
                             recovered yesterday
                        </div>
                        <div class="col-md-4 v-align">
                            and a
                            <div id="c-rr" class="content-title font-40">0</div>
                            recovery rate
                        </div>
                    </div>
                </div>
            </div>  <!-- country recovered -->
        </section>

        <section class="hr">
            <div class="row">
                <div class="col-md-6">
                    <div id="global-deaths-chart" class="chart-small"></div>
                </div>
                <div class="col-md-6">
                    <div class="row text-center">
                        <div class="col-lg-4 v-align">
                            The world has a total of
                            <div id="t-g-d" class="content-title font-40">0</div>
                            deaths
                        </div>
                        <div class="col-lg-4 v-align">
                            gaining
                            <div id="c-g-d" class="content-title font-40">0</div>
                            deaths yesterday
                        </div>
                        <div class="col-lg-4 v-align">
                            with a
                            <div id="g-fr" class="content-title font-40">0</div>
                            death rate
                        </div>
                    </div>
                </div>
            </div>  <!-- global deaths -->

            <div class="row">
                <div class="col-md-6">
                    <div id="country-deaths-chart" class="chart-small"></div>
                </div>
                <div class="col-md-6">
                    <div class="row text-center">
                        <div class="col-lg-4 v-align">
                            <span class="country-name">Australia</span> has a total of
                            <div id="t-c-d" class="content-title font-40">0</div>
                            deaths
                        </div>
                        <div class="col-lg-4 v-align">
                            gaining
                            <div id="c-c-d" class="content-title font-40">0</div>
                            deaths yesterday
                        </div>
                        <div class="col-lg-4 v-align">
                            with a
                            <div id="c-fr" class="content-title font-40">0</div>
                            death rate
                        </div>
                    </div>
                </div>
            </div>  <!-- country deaths -->
        </section>

        <section class="row text-center">
            <div class="col-lg-6">
                <div id="g-ac" class="content-title font-40"></div>
            </div>
            <div class="col-lg-6">
                <div id="c-ac" class="content-title font-40"></div>
            </div>
        </section>  <!-- active -->
    </div>  <!-- container -->

    <section id="news" class="container hr pt-5 pb-5">
        <h2 id="news-header"></h2>
        <br><br><br><br><br><br><br><br>
    </section>

    <section id="graphs" class="container hr pt-5 pb-5">
        <h2 class="content-title">Daily new confirmed cases [10 Most Affected]</h2>
        <div class="row">
        {% for i in range(0, 10) %}
            <div class="col-md-6">
                <div id="text-{{i}}"></div>
                <div id="chart-{{i}}" class="chart">
                    {{i}}
                </div>
            </div>
        {% endfor %}
        </div>
    </section>

    <section id="information" class="container pt-5 pb-5">
        <h2 class="content-title">Advice and Resources</h2>

        <section class="container hr pt-5 pb-5">
            <h3 class="content-title">Flatten The Curve</h3>

            <div class="row justify-content-center">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseImg">
                    Click to view Gif
                </button>
            </div>

            <div class="collapse" id="collapseImg">
                <img alt="flatten the curve (COVID-19)" class="img-size" src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Covid-19-curves-graphic-social-v3.gif">
                <p class="text-center">
                    Source:
                    <a href="https://upload.wikimedia.org/wikipedia/commons/c/c5/Covid-19-curves-graphic-social-v3.gif" target="_blank">Wikimedia</a>
                </p>
            </div>

            <div class="container">
                <div id="flat_curve_1" class="chart-lg"></div>
            </div>

            <h4 class="pt-2">What is an epidemic curve?</h4>
            During any pandemic, healthcare resources like hospitals, ICU beds, and healthcare staff can be overwhelmed by the more number of patients, beyond the baseline number of patients who are already being cared for by the healthcare system. An epidemic curve is drawn to visualize the progress of a disease outbreak over time. This curve gives us a brief regarding the number of new outbreak cases by date of onset of the disease and hence the overall shape of the curve can reveal the type of outbreak we're dealing with.

            <h4 class="pt-2">Healthcare capacity line:</h4>
            The horizontal line represents the capacity of the country’s healthcare system. This capacity can be defined as the number of beds, staffing, and other measures available for patient care. Today, due to COVID-19 most of the countries are already operating close to the capacity line and the curve posses a threat of crossing this line as the virus spreads very rapidly.

            <h4 class="pt-2">What happens when the line is crossed?</h4>
            When the epidemic curve crosses the healthcare capacity line, the healthcare system can no longer meet the needs of COVID-19 patients and the other types of patients. At this point, people may not get the best care and the mortality rate starts to rise rapidly.

            <h4 class="pt-2">What is flattening the curve?</h4>
            A large number of lives can be saved by just ensuring that people get sick at a slower rate. This is termed as flattening the epidemic curve. A flattened curve indicates that the same number of people ultimately get infected with coronavirus but spread over a longer period which leads to a less stressed health care system.

            <h4 class="pt-2">When does flattening the COVID-19 epidemic curve take place?</h4>
            The most important key factor to flatten the curve is social distancing. The objective of social distancing or self-isolation is to reduce the probability of close contact between persons carrying an infection, and others who are not infected, thus minimizing the virus transmission. This is the underlying reason why governments are closing schools, non-critical businesses, social/sports events and other places where a ton people gather.

            <h4 class="pt-2">Can social distancing alone flatten the curve?</h4>
            By limiting interactions between individuals, we can limit the spread of the disease but that doesn’t mean it is the only effective way to flatten the curve. There are several other factors that you can do to aid flatten the curve such as practicing good hygiene by washing your hands, using sanitizers, cleaning frequently touched surfaces and self-isolating in confirmed and suspected cases.

            <h4 class="pt-2">How can we help in flattening the curve?</h4>
            As the severity of COVID-19 rises, it's clear that our best option is to flatten the epidemic curve. So here is the list of things every individual is recommended to follow :</li>
            <ul>
                <li>Wash your hands as frequently as you can.</li>
                <li>Practice efficient social distancing.</li>
                <li>Stay home.</li>
                <li>Proper usage of sanitizers.</li>
                <li>Don’t go for hospitals unless necessary.</li>
                <li>Don’t overbuy essential medical supplies like N95 masks which are required by healthcare providers while treating patients.</li>
                <li>Most importantly, don't panic!</li>
            </ul>
        </section>

        <section class="container hr pt-5 pb-5">
            <h3 class="content-title" >Mythbusters</h3>
            <h4 class="pt-2"> Exposing yourself to the sun or to temperatures higher than 25C degrees DOES NOT prevent the coronavirus disease (COVID-19) </h4>
            You can catch COVID-19, no matter how sunny or hot the weather is. Countries with hot weather have reported cases of COVID-19. To protect yourself, make sure you clean your hands frequently and thoroughly and avoid touching your eyes, mouth, and nose.

            <h4 class="pt-2"> You can recover from the coronavirus disease (COVID-19). Catching the new coronavirus DOES NOT mean you will have it for life. </h4>
            Most of the people who catch COVID-19 can recover and eliminate the virus from their bodies. If you catch the disease, make sure you treat your symptoms. If you have cough, fever, and difficulty breathing, seek medical care early – but call your health facility by telephone first. Most patients recover thanks to supportive care.

            <h4 class="pt-2"> Being able to hold your breath for 10 seconds or more without coughing or feeling discomfort DOES NOT mean you are free from the coronavirus disease (COVID-19) or any other lung disease. </h4>
            The most common symptoms of COVID-19 are dry cough, tiredness and fever. Some people may develop more severe forms of the disease, such as pneumonia. The best way to confirm if you have  the virus producing COVID-19 disease is with a laboratory test.  You cannot confirm it with this breathing exercise, which can even be dangerous.

            <h4 class="pt-2"> Drinking alcohol does not protect you against COVID-19 and can be dangerous </h4>
            Frequent or excessive alcohol consumption can increase your risk of health problems.

            <h4 class="pt-2"> COVID-19 virus can be transmitted in areas with hot and humid climates </h4>
            From the evidence so far, the COVID-19 virus can be transmitted in ALL AREAS, including areas with hot and humid weather. Regardless of climate, adopt protective measures if you live in, or travel to an area reporting COVID-19. The best way to protect yourself against COVID-19 is by frequently cleaning your hands. By doing this you eliminate viruses that may be on your hands and avoid infection that could occur by then touching your eyes, mouth, and nose.

            <h4 class="pt-2"> Cold weather and snow CANNOT kill the new coronavirus. </h4>
            There is no reason to believe that cold weather can kill the new coronavirus or other diseases. The normal human body temperature remains around 36.5°C to 37°C, regardless of the external temperature or weather. The most effective way to protect yourself against the new coronavirus is by frequently cleaning your hands with alcohol-based hand rub or washing them with soap and water.

            <h4 class="pt-2"> Taking a hot bath does not prevent the new coronavirus disease </h4>
            Taking a hot bath will not prevent you from catching COVID-19. Your normal body temperature remains around 36.5°C to 37°C, regardless of the temperature of your bath or shower. Actually, taking a hot bath with extremely hot water can be harmful, as it can burn you. The best way to protect yourself against COVID-19 is by frequently cleaning your hands. By doing this you eliminate viruses that may be on your hands and avoid infection that could occur by then touching your eyes, mouth, and nose.

            <h4 class="pt-2"> The new coronavirus CANNOT be transmitted through mosquito bites. </h4>
            To date there has been no information nor evidence to suggest that the new coronavirus could be transmitted by mosquitoes. The new coronavirus is a respiratory virus which spreads primarily through droplets generated when an infected person coughs or sneezes, or through droplets of saliva or discharge from the nose. To protect yourself, clean your hands frequently with an alcohol-based hand rub or wash them with soap and water. Also, avoid close contact with anyone who is coughing and sneezing.

            <h4 class="pt-2"> Are hand dryers effective in killing the new coronavirus? </h4>
            No. Hand dryers are not effective in killing the 2019-nCoV. To protect yourself against the new coronavirus, you should frequently clean your hands with an alcohol-based hand rub or wash them with soap and water. Once your hands are cleaned, you should dry them thoroughly by using paper towels or a warm air dryer.

            <h4 class="pt-2"> Can an ultraviolet disinfection lamp kill the new coronavirus? </h4>
            UV lamps should not be used to sterilize hands or other areas of skin as UV radiation can cause skin irritation.

            <h4 class="pt-2"> How effective are thermal scanners in detecting people infected with the new coronavirus? </h4>
            Thermal scanners are effective in detecting people who have developed a fever (i.e. have a higher than normal body temperature) because of infection with the new coronavirus.
            However, they cannot detect people who are infected but are not yet sick with fever. This is because it takes between 2 and 10 days before people who are infected become sick and develop a fever.

            <h4 class="pt-2"> Can spraying alcohol or chlorine all over your body kill the new coronavirus? </h4>
            No. Spraying alcohol or chlorine all over your body will not kill viruses that have already entered your body. Spraying such substances can be harmful to clothes or mucous membranes (i.e. eyes, mouth). Be aware that both alcohol and chlorine can be useful to disinfect surfaces, but they need to be used under appropriate recommendations.

            <h4 class="pt-2"> Do vaccines against pneumonia protect you against the new coronavirus? </h4>
            No. Vaccines against pneumonia, such as pneumococcal vaccine and Haemophilus influenza type B (Hib) vaccine, do not provide protection against the new coronavirus.
            The virus is so new and different that it needs its own vaccine. Researchers are trying to develop a vaccine against 2019-nCoV, and WHO is supporting their efforts.
            Although these vaccines are not effective against 2019-nCoV, vaccination against respiratory illnesses is highly recommended to protect your health.

            <h4 class="pt-2"> Can regularly rinsing your nose with saline help prevent infection with the new coronavirus? </h4>
            No. There is no evidence that regularly rinsing the nose with saline has protected people from infection with the new coronavirus.
            There is some limited evidence that regularly rinsing nose with saline can help people recover more quickly from the common cold. However, regularly rinsing the nose has not been shown to prevent respiratory infections.


            <h4 class="pt-2"> Can eating garlic help prevent infection with the new coronavirus? </h4>
            Garlic is a healthy food that may have some antimicrobial properties. However, there is no evidence from the current outbreak that eating garlic has protected people from the new coronavirus.

            <h4 class="pt-2"> Does the new coronavirus affect older people, or are younger people also susceptible? </h4>
            People of all ages can be infected by the new coronavirus (2019-nCoV). Older people, and people with pre-existing medical conditions (such as asthma, diabetes, heart disease) appear to be more vulnerable to becoming severely ill with the virus.
            WHO advises people of all ages to take steps to protect themselves from the virus, for example by following good hand hygiene and good respiratory hygiene.

            <h4 class="pt-2"> Are antibiotics effective in preventing and treating the new coronavirus? </h4>
            No, antibiotics do not work against viruses, only bacteria.
            The new coronavirus (2019-nCoV) is a virus and, therefore, antibiotics should not be used as a means of prevention or treatment.
            However, if you are hospitalized for the 2019-nCoV, you may receive antibiotics because bacterial co-infection is possible.

            <h4 class="pt-2"> Are there any specific medicines to prevent or treat the new coronavirus? </h4>
            To date, there is no specific medicine recommended to prevent or treat the new coronavirus (2019-nCoV).
            However, those infected with the virus should receive appropriate care to relieve and treat symptoms, and those with severe illness should receive optimized supportive care. Some specific treatments are under investigation, and will be tested through clinical trials. WHO is helping to accelerate research and development efforts with a range or partners.

            <p class="text-center">
                Source:
                <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/myth-busters" target="_blank">(WHO) Coronavirus disease (COVID-19) advice for the public: Myth busters</a>
            </p>
        </section>

        <section class="container hr pt-5 pb-5">
            <h3>Useful Links</h3>
            <ul style="border-left: 2px solid #2979FF; list-style-type: none;">
                <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/events-as-they-happen" target="_blank">WHO News</a></li>
                <li><a href="https://www.health.gov.au/news/health-alerts/novel-coronavirus-2019-ncov-health-alert/coronavirus-covid-19-current-situation-and-case-numbers" target="_blank">Australia Covid</a></li>
                <li><a href="#" target="_blank"></a></li>
                <li><a href="#" target="_blank"></a></li>
                <li><a href="#" target="_blank"></a></li>
            </ul>
        </section>
    </section>

    <section class="container">

    </section>

    <!-- <script type="text/javascript" src="https://www.google.com/jsapi"></script> -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        var apiG = fetch('https://covidapi.info/api/v1/global/count').then(r => r.json());
        var apiC = fetch('https://pomber.github.io/covid19/timeseries.json').then(r => r.json());

        let str = '{{ data }}';
        let res = str.replace(/&#34;/g, "\"");
        let head = JSON.parse(res);

        // Color Palete
        let light = '#82B1FF';
        let b2 = '#448AFF';
        let primary = '#2979FF';
        let b3 = '#2962FF';
        let secondary = '#707070';

        function populateCountryTable(p1, p2, x) {
            document.getElementById(`t-${x}-c`).innerText = `${p1.confirmed.toLocaleString('en')}`;
            document.getElementById(`t-${x}-d`).innerText = `${p1.deaths.toLocaleString('en')}`;
            document.getElementById(`t-${x}-r`).innerText = `${p1.recovered.toLocaleString('en')}`;

            document.getElementById(`${x}-fr`).innerText = `${(p1.deaths/p1.confirmed).toFixed(3)}%`;
            document.getElementById(`${x}-rr`).innerText = `${(p1.recovered/p1.confirmed).toFixed(3)}%`;
            document.getElementById(`${x}-ac`).innerText = `${(p1.confirmed-p1.deaths-p1.recovered).toLocaleString('en')}`;

            let ccc = document.getElementById(`c-${x}-c`);
            if(p1.confirmed-p2.confirmed > 0) {
                ccc.classList.add('text-danger');
                ccc.innerText = `+${(p1.confirmed-p2.confirmed).toLocaleString('en')}`
            } else { ccc.innerText = '0'; }
            let ccd = document.getElementById(`c-${x}-d`);
            if(p1.deaths-p2.deaths > 0) {
                ccd.classList.add('text-danger');
                ccd.innerText = `+${(p1.deaths-p2.deaths).toLocaleString('en')}`
            } else { ccd.innerText = '0'; }
            let ccr = document.getElementById(`c-${x}-r`);
            if(p1.recovered-p2.recovered > 0) {
                ccr.classList.add('text-success');
                ccr.innerText = `+${(p1.recovered-p2.recovered).toLocaleString('en')}`
            } else { ccr.innerText = '0'; }
        }

        var options = {
            title: 'Global',
            titleTextStyle: {
                color: '#41454A',
                fontName: 'Lato',
                fontSize: 18,
                bold: false,
            },
            legend: {
                position: 'bottom',
                textStyle: { fontSize: 12, color: `${secondary}` }
            },
            vAxis: {
                viewWindow: { min: 0 },
                textStyle: { fontSize: 12, color: `${secondary}` }
            },
            hAxis: {
                gridlines: { color: 'none' },
                textStyle: { fontSize: 12, color: `${secondary}` }
            },
            animation:{
                duration: 1000,
                easing: 'out',
                startup: true
            },
            series: {
                0: { color: `${primary}` }
            },
            tooltip: {isHtml: true}
        };

        var combinedData = { jsonG: {}, jsonC: {} };
        Promise.all([apiG , apiC]).then(values => {
            combinedData.jsonG = values[0];
            combinedData.jsonC = values[1];

            let countryList = document.getElementById('contry-list');
            for (var key in combinedData.jsonC) {
                let option = document.createElement('option');
                option.setAttribute('value', `${key}`);
                countryList.appendChild(option);
            }

            google.load("visualization", "1", { packages: ["corechart"] });
            google.setOnLoadCallback(drawChart1);
            function drawChart1() {
                var globalConfirmedInput = new google.visualization.DataTable();
                globalConfirmedInput.addColumn('date', 'date');
                globalConfirmedInput.addColumn('number', 'confirmed');

                var globalRecoveredInput = new google.visualization.DataTable();
                globalRecoveredInput.addColumn('date', 'date');
                globalRecoveredInput.addColumn('number', 'recovered');

                var globalDeathsInput = new google.visualization.DataTable();
                globalDeathsInput.addColumn('date', 'date');
                globalDeathsInput.addColumn('number', 'deaths');

                for (var key in combinedData.jsonG.result){
                    globalConfirmedInput.addRow([new Date(key), combinedData.jsonG.result[key].confirmed]);
                    globalRecoveredInput.addRow([new Date(key), combinedData.jsonG.result[key].recovered]);
                    globalDeathsInput.addRow([new Date(key), combinedData.jsonG.result[key].deaths])
                }

                // combinedData.jsonG.result[Object.keys(combinedData.jsonG.result)[Object.keys(combinedData.jsonG.result).length - 1]];
                var prevDay = combinedData.jsonG.result[Object.keys(combinedData.jsonG.result)[Object.keys(combinedData.jsonG.result).length - 1]];
                var twoPrevDay = combinedData.jsonG.result[Object.keys(combinedData.jsonG.result)[Object.keys(combinedData.jsonG.result).length - 2]];
                populateCountryTable(prevDay, twoPrevDay, "g");
                // drawChart(prevDay, twoPrevDay);

                options['title'] = 'Global';
                options['series'][0]['color'] = `yellow`;
                var chart = new google.visualization.AreaChart(document.getElementById('global-confirmed-chart'));
                chart.draw(globalConfirmedInput, options);
                options['series'][0]['color'] = `green`;
                var chart = new google.visualization.AreaChart(document.getElementById('global-recovered-chart'));
                chart.draw(globalRecoveredInput, options);
                options['series'][0]['color'] = `red`;
                var chart = new google.visualization.AreaChart(document.getElementById('global-deaths-chart'));
                chart.draw(globalDeathsInput, options);
            }

            google.setOnLoadCallback(function(){ drawChart2("Australia") });
            function drawChart2(countryName) {
                var countryConfirmedInput = new google.visualization.DataTable();
                countryConfirmedInput.addColumn('date', 'date');
                countryConfirmedInput.addColumn('number', 'confirmed');

                var countryRecoveredInput = new google.visualization.DataTable();
                countryRecoveredInput.addColumn('date', 'date');
                countryRecoveredInput.addColumn('number', 'recovered');

                var countryDeathsInput = new google.visualization.DataTable();
                countryDeathsInput.addColumn('date', 'date');
                countryDeathsInput.addColumn('number', 'deaths');

                let selectedCountry = combinedData.jsonC[countryName];
                let daysSinceFirstCase = 0;
                for (var stat in selectedCountry) {
                    countryConfirmedInput.addRow([new Date(selectedCountry[stat].date), selectedCountry[stat].confirmed]);
                    countryRecoveredInput.addRow([new Date(selectedCountry[stat].date), selectedCountry[stat].recovered]);
                    countryDeathsInput.addRow([new Date(selectedCountry[stat].date), selectedCountry[stat].deaths])
                }

                var prevDay = selectedCountry[selectedCountry.length - 1];  // Latest on country
                var twoPrevDay  = selectedCountry[selectedCountry.length - 2];
                populateCountryTable(prevDay, twoPrevDay, "c");

                // News Sections
                let newsHeader = document.getElementById('news-header');
                newsHeader.innerText = `Lastest News in ${countryName}`;

                options['title'] = `${countryName}`;
                // var arr = document.getElementsByClassName('country-name');
                $('.country-name').each(function() {
                    // console.log("HRE");
                    var curr = $(this);
                    curr.text(`${countryName}`);
                });

                options['series'][0]['color'] = `yellow`;
                var chart = new google.visualization.AreaChart(document.getElementById('country-confirmed-chart'));
                chart.draw(countryConfirmedInput, options);
                options['series'][0]['color'] = `green`;
                var chart = new google.visualization.AreaChart(document.getElementById('country-recovered-chart'));
                chart.draw(countryRecoveredInput, options);
                options['series'][0]['color'] = `red`;
                var chart = new google.visualization.AreaChart(document.getElementById('country-deaths-chart'));
                chart.draw(countryDeathsInput, options);
            }

            google.setOnLoadCallback(function(){
                drawFlattenCurve("Australia");
            });
            function drawFlattenCurve(countryName) {
                var input = new google.visualization.DataTable();
                input.addColumn('number', 'date');

                let arr = [];
                input.addColumn('number', `${countryName}`);
                input.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});
                arr.push(analysis(countryName));

                let n = 0;
                for (i in head) {
                    input.addColumn('number', `${i}`);
                    input.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});
                    cases(i, n); n += 1;
                    arr.push(analysis(i));
                }

                let maxDay = Math.max(...arr.map((arr) => arr.days))
                for(let day = 0; day < maxDay; day++) {
                    let row = [day];
                    for(i in arr) {
                        let div = '<div style="border-radius: 0;"><span style="color: black; font-size: 22px;">' + `${arr[i]['cases'][day]}` +'</span> <br> <span>' + `${arr[i]['name']} Day: ${day}` + '</span></div>';
                        row.push(arr[i]['cases'][day], div)
                    }
                    // console.log(row);
                    input.addRow(row);
                }

                var optionsLog = {
                    title: '10 countries most affected + selected country',
                    titleTextStyle: {
                        color: '#41454A',
                        fontName: 'Lato',
                        fontSize: 18,
                        bold: false,
                    },
                    legend: {
                        position: 'bottom',
                        textStyle: {
                            fontSize: 12, color: `${secondary}`,
                        }
                    },
                    chartArea: {width: '75%', height: '80%'},
                    vAxis: {
                        viewWindow: { min: 100 }, scaleType: 'log',
                        textStyle: {
                            fontSize: 12, color: `${secondary}`,
                        },
                        ticks: [100,1000,10000,100000,500000]
                    },
                    hAxis: {
                        gridlines: { color: 'none' },
                        textStyle: {
                            fontSize: 12, color: `${secondary}`,
                        },
                        // title: 'Days'
                    },
                    animation:{
                        duration: 1000,
                        easing: 'out',
                        startup: true
                    },
                    tooltip: {isHtml: true}
                };

                var chart = new google.visualization.LineChart(document.getElementById(`flat_curve_1`));
                chart.draw(input, optionsLog);

                function analysis(countryName) {
                    let c = { name: `${countryName}`, cases: [] };
                    let daysSinceHundredCases = 0;
                    let selectedCountry = combinedData.jsonC[countryName];
                    for (var stat in selectedCountry) {
                        if(selectedCountry[stat].confirmed >= 100) {
                            c['cases'].push(selectedCountry[stat].confirmed)
                            daysSinceHundredCases += 1;
                        }
                    }
                    c['days'] = daysSinceHundredCases;

                    return c;
                }

                function cases(countryName, n) {
                    let selectedCountry = combinedData.jsonC[countryName];
                    let daysSinceFirstCase = 0;
                    var inputChart = new google.visualization.DataTable();
                    inputChart.addColumn('date', 'date');
                    inputChart.addColumn('number', 'new cases confirmed');

                    for (var stat = 0; stat < selectedCountry.length; stat++) {
                        if(selectedCountry[stat+1] !== undefined) {
                            let row = [ new Date(selectedCountry[stat].date), selectedCountry[stat+1].confirmed-selectedCountry[stat].confirmed ];
                            if(selectedCountry[stat].confirmed > 0) { daysSinceFirstCase += 1; }
                            inputChart.addRow(row);
                        }
                    }

                    var prevDay = selectedCountry[selectedCountry.length - 1];  // Latest on country
                    var twoPrevDay  = selectedCountry[selectedCountry.length - 7];
                    var threePrevDay = selectedCountry[selectedCountry.length - 14];
                    let growthToday = prevDay.confirmed - twoPrevDay.confirmed;
                    let growthYesterday = twoPrevDay.confirmed - threePrevDay.confirmed;
                    // if(growthToday > growthYesterday) { console.log('UP'); }
                    // else { console.log('DOWN'); }

                    let d = new Date();
                    d.setDate(d.getDate()-daysSinceFirstCase);
                    // console.log(`${countryName}'s first case was report ${daysSinceFirstCase} ago on ${d.toLocaleString()}. Currently ${countryName} has reported ${prevDay.confirmed} cases and ${prevDay.deaths} deaths`);

                    let information = document.getElementById(`text-${n}`);
                    information.innerHTML = '';
                    let header = document.createElement('div');
                    header.classList.add('chart-title');
                    header.innerText = `${countryName}`;
                    let icon = document.createElement('span');
                    icon.classList.add('material-icons', 'ml-5');
                    if(growthToday > growthYesterday) {
                        icon.classList.add('text-danger');
                        icon.innerText = 'trending_up';
                    } else {
                        icon.classList.add('text-success');
                        icon.innerText = 'trending_down';
                    }
                    header.appendChild(icon);
                    information.appendChild(header);
                    let text = document.createElement('div');
                    text.innerText = `${countryName}'s first case was report ${daysSinceFirstCase} ago on ${d.toLocaleString().split(',')[0]}. Currently ${countryName} has reported ${prevDay.confirmed} cases and ${prevDay.deaths} deaths`;
                    information.appendChild(text);

                    var optionChart = {
                        legend: {
                            position: 'bottom',
                            textStyle: { fontSize: 12, color: `${secondary}` },
                        },
                        chartArea: {width: '75%', height: '80%'},
                        vAxis: {
                            textStyle: { fontSize: 12, color: `${secondary}` },
                        },
                        hAxis: {
                            gridlines: { color: 'none' },
                            textStyle: { fontSize: 12, color: `${secondary}` },
                            // title: 'Days'
                        },
                        animation:{
                            duration: 1000,
                            easing: 'out',
                            startup: true
                        },
                        tooltip: {isHtml: true}
                    };

                    var chart = new google.visualization.ColumnChart(document.getElementById(`chart-${n}`));
                    chart.draw(inputChart, optionChart);
                }
            }

            // google.charts.setOnLoadCallback(drawChart);

            let graphs = document.getElementById('graphs');
            $(window).resize(function(){
                drawChart1();
                drawChart2(document.getElementById('country').value);
                drawFlattenCurve(document.getElementById('country').value);
            });

            $('input').change((e) => {
                drawChart2(e.target.value);
                drawFlattenCurve(e.target.value);
            });

            return combinedData;
        });

        // console.log(combinedData);
</script>
    {% include 'footer.html' %}
{% endblock %}
