{% extends "layout.html" %}

{% block body %}
    {% include 'nav.html' %}

    <section class="page-header bg-header">
        <h2 class="header-content container text-bold">Latest World Covid-19 New</h2>
    </section>

    <section class="container pt-5">
        <div class="row">
            <div class="col-sm-8">
                <div id="article" class="row">
                    <!--div class="col-md-6">
                        <div class="card news-article clear-border">
                            <div class="card-body">
                                <div class="news-headline text-bold">
                                    New York: Safety net hospitals a 'disaster'
                                    as coronavirus patients begin to flood in
                                </div>
                                <div class="news-text">
                                    REMEMBER WHEN THE SUNDAY SHOWS were filled
                                    with Democratic presidential candidates,
                                    or Republican lawmakers spreading debunked
                                    claims about Trump and Ukraine?
                                </div>
                            </div>
                            <div class="card-footer news-footer clear-border">
                                2020-01-02 10:21:23
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card news-article clear-border">
                            <div class="card-body">
                                <div class="news-headline text-bold">
                                    New York: Safety net hospitals a 'disaster'
                                    as coronavirus patients begin to flood in
                                </div>
                                <div class="news-text">
                                    REMEMBER WHEN THE SUNDAY SHOWS were filled
                                    with Democratic presidential candidates,
                                    or Republican lawmakers spreading debunked
                                    claims about Trump and Ukraine?
                                </div>
                                <div class="card-footer news-footer clear-border">
                                    2020-01-02 10:21:23
                                </div>
                            </div>
                        </div> <
                    </div>

                    <div class="col-md-6">
                        <div class="card news-article clear-border">
                            <div class="card-body">
                                <div class="news-headline text-bold">
                                    New York: Safety net hospitals a 'disaster'
                                    as coronavirus patients begin to flood in
                                </div>
                                <div class="news-text">
                                    REMEMBER WHEN THE SUNDAY SHOWS were filled
                                    with Democratic presidential candidates,
                                    or Republican lawmakers spreading debunked
                                    claims about Trump and Ukraine?
                                </div>
                                <div class="news-footer">
                                    2020-01-02 10:21:23
                                </div>
                            </div>
                        </div>
                    </div>  <!-->
                </div>
            </div>
            <div class="col-sm-4" id="other">
                <section class="container pt-3 pb-3 hr">
                    <div class="row text-center">
                        <div class="col-lg-4">
                            <div>Confirmed</div>
                            <h5 id="total-confirmed">0</h5>
                        </div>
                        <div class="col-lg-4">
                            <div>Deaths</div>
                            <h5 id="total-deaths">0</h5>
                        </div>
                        <div class="col-lg-4">
                            <div>Recovered</div>
                            <h5 id="total-recovered">0</h5>
                        </div>
                    </div>
                </section>

                <!-- TODO: OTHER TEAM API NEW ARTICLE SECTION-->
                <section id="side-news">
                    <h4 class="content-title pt-2">Side News</h4>
                </section>
            </div>
        </div>
    </section>

    <script>
        let start = '{{ start }}';
        let end = '{{ end }}';

        var APIDEMICURL = `http://api-demic.herokuapp.com/v1.1/articles?start_date=${start}&end_date=${end}&key_term=covid19&limit=20`;
        let TODOURL = `http://api.todo.cf/v1/article?teamName=API-demic&startDate=${start}&endDate=${end}&key=COVID19&pageSize=20`;

        // let URL = 'http://api-demic.herokuapp.com/v1.1/articles?start_date=' + start + '&end_date=' + end + '&key_term=covid19&limit=10';
        // let OTHERURL = 'http://api.todo.cf/v1/article?teamName=API-demic&startDate=' + start + '&endDate=' + end + '&key=COVID19&pageSize=10';
        // console.log(URL);

        let apiP = fetch(APIDEMICURL).then(r => r.json());
        let todoP = fetch(TODOURL).then(r => r.json());

        Promise.all([apiP , todoP]).then(values => {
            // console.log(values);
            let apiJson = values[0];
            let todoJson = values[1];

            let articleRow = document.getElementById('article');
            let sideNews = document.getElementById('side-news');

            let apiArticles = apiJson.articles.reverse();
            for(i in apiArticles) {
                let article = apiArticles[i];
                // let col = createCol(article);
                // articleRow.appendChild(col);

                let col = createSide(article);
                sideNews.appendChild(col);
            }

            let todoArticles = todoJson.list;
            for(i in todoArticles) {
                let article = todoArticles[i];
                let col = createCol(article);
                articleRow.appendChild(col);
            }

            // let articles = apiArticles.concat(todoArticles);
            // articles.sort((a, b) => {
            //     let keyA = new Date(a.date_of_publication),
            //     keyB = new Date(b.date_of_publication.split(' ')[0]);
            //     if (keyA < keyB) return -1;
            //     if (keyA > keyB) return 1;
            //     return 0;
            // });
            // console.log(articles);

        });

        let total_str = '{{ total }}';
        total_str = total_str.replace(/&#34;/g, "\"");
        let total_json = JSON.parse(total_str);

        document.getElementById('total-confirmed').innerHTML = `${formatNumber(total_json['Confirmed'])}`;
        document.getElementById('total-deaths').innerHTML = `${formatNumber(total_json['Deaths'])}`;
        document.getElementById('total-recovered').innerHTML = `${formatNumber(total_json['Recovered'])}`;

        function createCol(article) {
            let col = document.createElement("div");
            col.classList.add('col-md-6');

            let card = document.createElement("div");
            card.classList.add('card', 'news-article', 'clear-border');

            let cardBody = document.createElement("div");
            cardBody.classList.add('card-body');

            let cardHeadline = document.createElement("a");
            cardHeadline.classList.add('news-headline', 'text-bold');
            cardHeadline.setAttribute('href', `${article['url']}`);
            cardHeadline.setAttribute('target', '_blank');
            cardHeadline.innerText = `${article['headline'].trim()}`;
            cardBody.appendChild(cardHeadline);

            let cardMainText = document.createElement("div");
            cardMainText.classList.add('news-text', 'overflow-hidden');
            let text = article['main_text'];
            let summary = text.split('\n')[2] + firstSentence(`${text.split('\n')[3].trim()}.`)
            cardMainText.innerText = `${summary.trim()}`;
            cardBody.appendChild(cardMainText);

            let cardFooter = document.createElement("div");
            cardFooter.classList.add('card-footer', 'news-footer', 'clear-border');
            cardFooter.innerText = `${article['date_of_publication']}`;

            card.appendChild(cardBody);
            card.appendChild(cardFooter);
            col.append(card);

            return col;
        }

        function createSide(article) {
            let col = document.createElement("div");
            col.classList.add('hr', 'pt-2', 'pb-3');
            // col.innerText = `${article['headline'].trim()}`;

            let cardHeadline = document.createElement("a");
            cardHeadline.classList.add('side-news-headline');
            cardHeadline.setAttribute('href', `${article['url']}`);
            cardHeadline.setAttribute('target', '_blank');
            cardHeadline.innerText = `${article['headline'].trim()}`;
            col.appendChild(cardHeadline);

            return col;
        }

        // function createHr(article) {
        //     let hr = document.createElement("div");
        //     col.classList.add('hr');
        //
        //     let Headline = document.createElement("a");
        //     Headline.classList.add('news-headline', 'text-bold');
        //     Headline.setAttribute('href', `${article['url']}`);
        //     Headline.setAttribute('target', '_blank');
        //     Headline.innerText = `${article['headline'].trim()}`;
        //     hr.appendChild(Headline);


            // let cardMainText = document.createElement("div");
            // cardMainText.classList.add('news-text');
            // text = article['main_text']
            // start_from = "Excerpt:";
            // textToDisplay = ""
            // if(text.search(start_from) < 0) { textToDisplay = text.substring(text.search(":")+1, text.length-1).trim(); }
            // else { textToDisplay = text.substring(text.search(start_from)+start_from.length, text.length-1).trim(); }
            // cardMainText.innerText = `${firstSentence(textToDisplay).trim()}`;
            // cardBody.appendChild(cardMainText);
            //
            // let cardFooter = document.createElement("div");
            // cardFooter.classList.add('card-footer', 'news-footer', 'clear-border');
            // cardFooter.innerText = `${article['date_of_publication']}`;
            //
            // card.appendChild(cardBody);
            // card.appendChild(cardFooter);
            // col.append(card);

        //     return hr;
        // }

    </script >

    {% include 'footer.html' %}
{% endblock %}
